!!! strict
%html{ :lang => "en" }
  %head
    %title&= values['title']
    %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=#{values['charset']}" }
    %link{ :rel => "stylesheet", :href => values["style_url"], :type => "text/css", :media => "screen" }
    :javascript
      function toggleCode(id) {
        var code = document.getElementById(id)

        code.style.display = code.style.display != 'block' ? 'block' : 'none'
        return true
      }

      // make inline source hidden by default
      document.writeln('<' + 'style type="text/css">.method .source pre { display: none }<\/style>')
        
  %body.page{ :class => values["classmod"] ? 'class' : 'file' }
    = yield
